/*Estructura de css 
selector{ 
    propiedad:valor
}
*/
body{
    background-color: rgba(254, 254, 255, 0.568);
}
h1,h2{
    text-align: center;
}
header{
     background-image: url( "../img/header.jpg");
     height: 300px; 
     display: flex;
     justify-content:center;
     position: fixed;
     width: 80%;
     top: 0px;
     margin-left: 10%;
}
header h1{ 
background-color: rgba(255, 255, 255, 0.877);
padding: 10px;
width: 300px;
height: 40px;
} 
nav{
    background-color: rgb(146, 146, 146);
    height: 50 px;
    position: fixed;
    top: 150px;
    left: 100px;
}
nav ol li{
    background-color: rgb(22, 23, 24);
    display: inline;
    color: white;
    padding: 15px;
    margin: 0px 10 px;
}
article{
    padding-top: 100px;
    background: linear-gradient(rgba(173, 216, 230, 0.589), rgba(74, 74, 145, 0.534));
    width: 80% !important;
    margin-left: 20%;
}    
nav ol li{
    text-decoration: none;
    color: snow;
}
nav ol li:hover{
    background-color: rgb(230, 221, 230);
    color: black;
    box-shadow: 5px 3px 5px black;
    width: 250px;
}

.rojo{
    background-color: red;
    width: 25%;
    height: 300px;
    color: yellow;
    font-size: 25px;
    margin: 5px;
}
#negro{
    background-color:black;
    width: 25%;
    height: 300px;
    color: white;
    font-size: 15px;
}
#principal{
    display: flex;
    justify-content: center;
}
main{
    width: 80%;
}
h4 font{

    color: black !important;
}