body{
    background-color: rgba(137, 43, 226, 0.295);
}
@keyframes mover {
    from {top: 50px;color: black;}
    to{top: 250px;color: rgb(104, 94, 94);}
}
#flecha{
    position: absolute;
    animation-name: mover;
    animation-duration: 5s;
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
#pelota {
    animation-name:fadeIn; 
    animation-duration: 5s;
    animation-delay: 5s;
}   
ul li{
display: inline;
padding: 10px;
background-color: black;
color: blanchedalmond;
cursor: pointer;
}
ul li:hover{
    animation-name: menu;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}    
@keyframes menu {
    0%{
    padding: 10px;
    background-color: black;
    color: blanchedalmond;
    }
    100%{
        padding: 20px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        box-shadow: 5px 5px 5px black;
        border-radius: 40px;
        font-size: 30px;
    } 
}